


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Philosopher&display=swap');

  *{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #D9BDE3, #FFB8B1, #FAEBA7);
    color: rgb(0, 0, 0);
   
  }

  #calculator{
    padding: 40px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color:#f9aba2;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.323);
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80vh;
    
  }

  #calculator h2{
    font-size: 32px;
    position:relative;
  }

  #input_box{
    display: flex;
    flex-direction: column;
  
  }

  .input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input-field input{
    font-size: 15px;
    padding: 3px;
    border: none;
  }

  .input-field input:focus{
    outline: none;
  }

  #result{
    text-align: center;

  }

  #total{
    font-size: 40px;
  }


 #calculate, #clean{

 height: 30px;
  width: 100%;
}



  button{
    cursor: pointer;
    background: linear-gradient(90deg, #D9BDE3, #FFB8B1, #FAEBA7);
    box-shadow: 5px 5px 8px rgba(0,0,0,0.323);
    gap: 25px;
    width: 70vh;
    border: none;
   
    
    }



  h3{
    font-size: 18px;
  }


  @media  screen and (max-width: 1064px) {
    #calculator {
    
        width: 58vh;
        height: auto;
    }
  }
    @media  screen and (max-width: 1064px) {
     
 #calculate, #clean {
      
          width:100%;
          word-break: normal;
          height: 30px;
      }
    
  }
